<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <%- include('../layouts/navbar') %>

    <div class="card">
        <div class="card-header">
            Quản lý sách
        </div>
        <div class="card-body">
            <form action="/admin/books/<%= book._id %>/update" method="post">
                <div class="form-group">
                    <label for="">Tên</label>
                    <input type="text" value="<%= book.name %>" class="form-control" id="" placeholder="" name="name">
                </div>
                <div class="form-group row">
                    <label for="" class="col-sm-2 col-form-label">The loai</label>
                    <div class="col-sm-10">
                        <select name="category_id" id="" class="form-control">
                            <% categories.forEach((item) => {%>
                                <option
                                        <% if (book.category && item._id == book.category._id.toString() ){ %>
                                            selected="selected"
                                        <% } %>
                                        value="<%= item._id%>"
                                ><%= item.name%></option>
                            <% })%>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Mô tả</label>
                    <input type="text" value="<%= book.description %>" class="form-control" id="" placeholder="" name="description">
                </div>
                <div class="form-group">
                    <label for="">Giá</label>
                    <input type="number" value="<%= book.price %>"  class="form-control" id="" placeholder="" name="price">
                </div>
                <div class="form-group">
                    <label for="">Tác giả</label>
                    <input type="text" value="<%= book.author %>"  class="form-control" id="" placeholder="" name="author">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Tạo mới</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
