<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <%- include('../layouts/navbar') %>
    <div class="card mt-2">
        <div class="card-header">
            Quản lý sách <a href="/admin/books/create" class="btn btn-success">Thêm mới</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-10"></div>
                <div class="col-12 col-md-2">
                    Số lượng sách: <%= data.length %>
                </div>
            </div>

            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach((book, index) => {%>
                <tr>
                    <th scope="row"><%= index + 1%></th>
                    <td><%= book.name%></td>
                    <td><%= book.description%></td>
                    <td><a href="/admin/books?category=<%= (book.category) ? book.category._id : null%>"><%= (book.category) ? book.category.name : 'Chưa phân loại'%></a></td>
                    <td><%= book.price%></td>
                    <td><%= book.author%></td>
                    <td><a href="" class="btn btn-danger">Xoá</a></td>
                </tr>
                <% })%>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
